<div class="alert alert-info">
    <h4>Automate fini non déterministe</h4>
</div>
<div class="panel panel-danger">
    <div class="panel-heading btnnfa">
        <button class="btn btn btn-success" ng-click="addState()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Etat</button>
        <button class="btn btn btn-success" ng-click="addTransition()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Transition</button>
        <button class="btn btn btn-success" ng-click="deleteSelected()"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Etat</button><br>
        <button class="btn btn btn-success" ng-click="setStartState()"><span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span> Etat Initial</button>
        <button class="btn btn btn-success" ng-click="setAcceptStates()"><span class="glyphicon glyphicon-record" aria-hidden="true"></span> Etat Final</button>
        <button class="btn btn btn-success" ng-click="reset()"><span class="glyphicon glyphicon-stop" aria-hidden="true"></span> Réinitialiser</button>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                <div id="NFA" ng-init="initializeNFA()" /></div>
        </div>
    </div>
</div>
</div>
